@model MvcApp.Models.Semestr

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Semestr</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Start_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Start_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.End_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.End_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.user_created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user_created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.created_at)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created_at)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.updated_at)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.updated_at)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
