@model MvcApp.Models.Semestr

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Semestr</legend>

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(Model => Model.user_created)
        @Html.HiddenFor(Model => Model.created_at)
        @Html.HiddenFor(Model => Model.updated_at)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Start_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Start_date)
            @Html.ValidationMessageFor(model => model.Start_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.End_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.End_date)
            @Html.ValidationMessageFor(model => model.End_date)
        </div>
        
        
        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
