@model MvcApp.Achievement_type

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Achievement_type</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.user_created)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.user_created)
            @Html.ValidationMessageFor(model => model.user_created)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.created_at)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.created_at)
            @Html.ValidationMessageFor(model => model.created_at)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.updated_at)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.updated_at)
            @Html.ValidationMessageFor(model => model.updated_at)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
