<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title — приложение ASP.NET MVC</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
   @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery","~/Content/themes/base/")

</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("ваша эмблема здесь", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>

                <button>Запись данных</button>

                <gav>
	<ul>
<li>@Html.ActionLink("Заполнить", "Fill", "AddRecords")</li>
        <li>@Html.ActionLink("Очистить", "Empty", "AddRecords")</li>
		<li><a href="#">Справочник</a>
        <ul>
				<li>@Html.ActionLink("Семестры", "Index", "Semestr")</li>
				<li>@Html.ActionLink("Уровни достижения", "Index", "Level_Type")</li>
				<li>@Html.ActionLink("Результаты", "Index", "Contest_result")</li>
				<li>@Html.ActionLink("Тип достижения", "Index", "Achievement_type")</li>
                <li>@Html.ActionLink("Организаторы", "Index", "Organisator")</li>
                <li>@Html.ActionLink("Достижения", "Index", "Achievement")</li>
        </ul>
            </li>
		
		
		
	</ul>
</gav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year — приложение ASP.NET MVC</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
